<footer id="footer" class="footer position-relative light-background">

    <div class="container">
        <div class="row gy-5">

            <div class="col-lg-4">
                <div class="footer-content">
                    <a href="/" class="logo d-flex align-items-center mb-4">
                        <span class="sitename">数据之源，洞见之始</span>
                    </a>
                    <p class="mb-4">“数据之源，洞见之始”
                        是一个专注于微生物生命系统以及天然产物合成的综合数据库。我们整合了从基因组、蛋白质组到代谢网络、分子对接及质谱谱图等多维度数据。我们致力于为虚拟细胞建模与代谢通路分析软件提供精准、高效的数据支持，赋能系统生物学研究，加速生命科学发现。
                    </p>

                    <div class="newsletter-form">
                        <h5>Stay Updated</h5>
                        <form action="forms/newsletter.php" method="post" class="php-email-form">
                            <div class="input-group">
                                <input type="email" name="email" class="form-control" placeholder="Enter your email"
                                    required="">
                                <button type="submit" class="btn-subscribe">
                                    <i class="bi bi-send"></i>
                                </button>
                            </div>
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Thank you for subscribing!</div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-6">
                <div class="footer-links">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="/about"><i class="bi bi-chevron-right"></i>
                                About</a>
                        </li>
                        <li><a href="/license"><i class="bi bi-chevron-right"></i>
                                Licenses</a></li>
                        <li><a href="/downloads"><i class="bi bi-chevron-right"></i>
                                Downloads</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-6">
                <div class="footer-links">
                    <h4>Solutions</h4>
                    <ul>
                        <li><a href="#"><i class="bi bi-chevron-right"></i>
                                Digital
                                Strategy</a></li>
                        <li><a href="#"><i class="bi bi-chevron-right"></i>
                                Cloud
                                Computing</a></li>
                        <li><a href="#"><i class="bi bi-chevron-right"></i>
                                Data
                                Analytics</a></li>
                        <li><a href="#"><i class="bi bi-chevron-right"></i>
                                AI
                                Solutions</a></li>
                        <li><a href="#"><i class="bi bi-chevron-right"></i>
                                Cybersecurity</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="footer-contact">
                    <h4>Get in Touch</h4>
                    <div class="contact-item">
                        <div class="contact-icon">
                            <i class="bi bi-geo-alt"></i>
                        </div>
                        <div class="contact-info">
                            <p>桂林市 西城经济开发区<br>秧塘工业园区 华为信息产业园<br>中国</p>
                        </div>
                    </div>

                    <div class="contact-item">
                        <div class="contact-icon">
                            <i class="bi bi-telephone"></i>
                        </div>
                        <div class="contact-info">
                            <p>+86 13800000000</p>
                        </div>
                    </div>

                    <div class="contact-item">
                        <div class="contact-icon">
                            <i class="bi bi-envelope"></i>
                        </div>
                        <div class="contact-info">
                            <p><a href="mailto://biocad@innovation.ac.cn">biocad@innovation.ac.cn</a></p>
                        </div>
                    </div>

                    <div class="social-links">
                        <a href="#"><i class="bi bi-facebook"></i></a>
                        <a href="#"><i class="bi bi-twitter-x"></i></a>
                        <a href="#"><i class="bi bi-linkedin"></i></a>
                        <a href="#"><i class="bi bi-youtube"></i></a>
                        <a href="#"><i class="bi bi-github"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="copyright">
                        <p>© <span>Copyright</span> <strong class="px-1 sitename">数据之源，洞见之始 · 中国 桂林</strong> <span>All
                                Rights
                                Reserved</span></p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="footer-bottom-links">
                        <a href="/privacy/">Privacy Policy</a>
                        <a href="#">Terms of Service</a>
                        <a href="#">Cookie Policy</a>
                    </div>
                    <div class="credits">
                        <a href="http://tzcjj.gxzf.gov.cn/">桂林经济开发区秧塘工业园区</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>

<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center active"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Preloader -->

<!-- Vendor JS Files -->
<script src="/resources/vendor/bootstrap-5.3.8-dist/js/bootstrap.bundle.min.js"></script>
<script src="/resources/vendor/validate.js"></script>
<script src="/resources/vendor/glightbox/glightbox.min.js"></script>
<script src="/resources/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/resources/vendor/purecounter_vanilla.js"></script>
<script src="/resources/vendor/imagesloaded.pkgd.min.js"></script>
<script src="/resources/vendor/isotope.pkgd.min.js"></script>
<script src="/resources/vendor/jquery-3.7.1.min.js"></script>

<!-- Main JS File -->
<script src="/resources/js/main.js"></script>