<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>Index - Devin Bootstrap Template</title>
<meta name="description" content="">
<meta name="keywords" content="">

<meta name="robots" content="noindex, nofollow">

<!-- Favicons -->
<link href="/favicon.png" rel="icon">
<link href="/favicon.png" rel="apple-touch-icon">

<!-- Fonts -->
<link href="https://fonts.googleapis.com/" rel="preconnect">
<link href="https://fonts.gstatic.com/" rel="preconnect" crossorigin="">
<link href="/resources/css/fonts.css" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="/resources/vendor/bootstrap-5.3.8-dist/css/bootstrap.min.css" rel="stylesheet">
<link href="/resources/vendor/bootstrap-icons-1.13.1/bootstrap-icons.min.css" rel="stylesheet">
<link href="/resources/vendor/glightbox/glightbox.min.css" rel="stylesheet">
<link href="/resources/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

<!-- Main CSS File -->
<link href="/resources/css/main.css" rel="stylesheet">

<!-- =======================================================
* Template Name: Devin
* Template URL: https://bootstrapmade.com/devin-bootstrap-template/
* Updated: Jul 23 2025 with Bootstrap v5.3.7
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
======================================================== -->