<div class="row">
    <div class="col">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="{$a_1}">Previous</a></li>
                <li class="page-item"><a class="page-link" href="{$a_1}">{$n1}</a></li>
                <li class="page-item"><a class="page-link" href="{$a_2}">{$n2}</a></li>
                <li class="page-item"><a class="page-link" href="{$a_3}">{$n3}</a></li>
                <li class="page-item"><a class="page-link" href="{$a_3}">Next</a></li>
            </ul>
        </nav>
    </div>
</div>