<!DOCTYPE html>

<html lang="en">

<head>
    <meta name="drawer-h" content="300">

    ${../includes/head.html}
</head>

<body class="index-page scrolled">
    ${../includes/nav.html}

    <br />
    <br />
    <br />
    <br />

    <main class="main">

        <section id="data" class="section">

            <!-- Section Title -->
            <div class="container section-title">
                <h2>{$name}</h2>
                <p>{$note}</p>
            </div><!-- End Section Title -->

            <div class="container">


                ${../includes/paging.html}


                <hr />

                <div class="d-flex flex-wrap gap-3">
                    <foreach @np>
                        <div class="card" style="width: 18rem;">

                            <a href='/spectrum/?metab=@np["id"]'>
                                <canvas class="smiles_drawer card-img-top" role="img" focusable="false"
                                    style="width:100%; max-height: 300px;" data='@np["smiles"]'>
                                </canvas>
                            </a>

                            <div class="card-body">
                                <h5 class="card-title"><a href='/metabolite/@np["id"]'>@np["name"]</a></h5>
                                <p class="card-text">Formula: <a
                                        href='/metabolites/?formula=@np["formula"]'>@np["formula"]</a> (<a
                                        href='/metabolites/?exact_mass=@np["exact_mass"]'>@np["exact_mass"]</a>)</p>
                                <p class="card-text">@np["note"]</p>
                            </div>
                        </div>
                    </foreach>
                </div>

                <br />
                <br />
                <hr />

                ${../includes/paging.html}

            </div>

        </section>


    </main>

    ${../includes/footer.html}
</body>

<script src="/resources/vendor/smiles-drawer.min.js"></script>
<script src="/resources/js/smiles_batch_render.js"></script>

</html>