<!DOCTYPE html>

<html lang="en">

<head>
  ${./includes/head.html}
</head>

<body class="index-page scrolled">
  ${./includes/nav.html}

  <br />
  <br />
  <br />
  <br />

  <main class="main">

    <!-- Faq Section -->
    <section id="faq" class="faq section">

      <!-- Section Title -->
      <div class="container section-title">
        <h2>FAQ</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row justify-content-center">
          <div class="col-lg-9">

            <div class="faq-wrapper">

              <div class="faq-item faq-active">
                <div class="faq-header">
                  <span class="faq-number">01</span>
                  <h4>本数据库的付费内容</h4>
                  <div class="faq-toggle">
                    <i class="bi bi-plus"></i>
                    <i class="bi bi-dash"></i>
                  </div>
                </div>
                <div class="faq-content">
                  <div class="content-inner">
                    <p>
                      本数据库的基于所采集的公共数据库中的生物学数据，进行二次加工。结合自身所采集的实验室样本数据进行汇编。大部分信息内容经过人工编辑后对外发布。您只需要进行账号注册登录后，即可通过网页进行数据库内容的浏览。但是假若您需要将本数据库集成到您的软件或者数据分析流程之中，
                      您会需要付费购买对应的数字授权，方可使用本数据库所提供的api接口进行自动化数据访问。
                    </p>
                  </div>
                </div>
              </div><!-- End FAQ Item -->

              <div class="faq-item">
                <div class="faq-header">
                  <span class="faq-number">02</span>
                  <h4>代码开源</h4>
                  <div class="faq-toggle">
                    <i class="bi bi-plus"></i>
                    <i class="bi bi-dash"></i>
                  </div>
                </div>
                <div class="faq-content">
                  <div class="content-inner">
                    <p>本数据库除数据库数据外，数据库系统以及网站的源代码开放，可以访问Github仓库进行源代码下载：
                      <br />
                      <br />

                    </p>

                    <ul>
                      <li>网站源代码：https://github.com/biocad-cloud/registry</li>
                      <li>数据库编辑器源代码：https://github.com/biocad-cloud/biocad_registry</li>
                    </ul>
                  </div>
                </div>
              </div><!-- End FAQ Item -->

              <div class="faq-item">
                <div class="faq-header">
                  <span class="faq-number">03</span>
                  <h4>公共数据来源</h4>
                  <div class="faq-toggle">
                    <i class="bi bi-plus"></i>
                    <i class="bi bi-dash"></i>
                  </div>
                </div>
                <div class="faq-content">
                  <div class="content-inner">
                    <p>本数据库的基础数据采集自以下公共数据库： <br />
                      <br />
                    </p>

                    <ul>
                      <li>代谢物信息：NCBI PubChem，HMDB，KEGG，ChEBI，Metabolomics Workbench</li>
                      <li>蛋白质信息：UniProt</li>
                      <li>代谢通路信息：Reactome，BioCyc</li>
                      <li>代谢网络信息：Rhea，KEGG，BRENDA，SABIO-rk</li>
                    </ul>
                  </div>
                </div>
              </div><!-- End FAQ Item -->

              <div class="faq-item">
                <div class="faq-header">
                  <span class="faq-number">04</span>
                  <h4>生成式AI内容申明</h4>
                  <div class="faq-toggle">
                    <i class="bi bi-plus"></i>
                    <i class="bi bi-dash"></i>
                  </div>
                </div>
                <div class="faq-content">
                  <div class="content-inner">
                    <p>部分数据库内容采用了智谱清言生成式AI进行自动化处理：补充缺失的化合物分类信息以及化合物描述信息内容。以上生成式AI内容经过AI自动化生成后，再经过人工修订后进行发布。</p>
                  </div>
                </div>
              </div><!-- End FAQ Item -->

              <div class="faq-item">
                <div class="faq-header">
                  <span class="faq-number">05</span>
                  <h4>Curabitur aliquet quam id dui posuere blandit?</h4>
                  <div class="faq-toggle">
                    <i class="bi bi-plus"></i>
                    <i class="bi bi-dash"></i>
                  </div>
                </div>
                <div class="faq-content">
                  <div class="content-inner">
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                      deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati.</p>
                  </div>
                </div>
              </div><!-- End FAQ Item -->

            </div>

          </div>
        </div>

      </div>

    </section><!-- /Faq Section -->

    <!-- Team Section -->
    <section id="team" class="team section">

      <!-- Section Title -->
      <div class="container section-title">
        <h2>建设单位</h2>
        <p>本数据库由以下单位进行共建</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-6">
            <div class="team-member d-flex">
              <div class="member-img">
                <img src="./index_files/person-m-7.webp" class="img-fluid" alt="" loading="lazy">
              </div>
              <div class="member-info flex-grow-1">
                <h4>重庆正雅生物科技有限公司</h4>
                <span>中国 重庆</span>
                <p>主要负责数据库商业化运营，运营维护
                </p>
                <div class="social">
                  <a href="https://bootstrapmade.com/content/demo/Devin/"><i class="bi bi-facebook"></i></a>
                  <a href="https://bootstrapmade.com/content/demo/Devin/"><i class="bi bi-twitter-x"></i></a>
                  <a href="https://bootstrapmade.com/content/demo/Devin/"><i class="bi bi-linkedin"></i></a>
                  <a href="https://bootstrapmade.com/content/demo/Devin/"><i class="bi bi-youtube"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-6">
            <div class="team-member d-flex">
              <div class="member-img">
                <img src="./index_files/person-f-8.webp" class="img-fluid" alt="" loading="lazy">
              </div>
              <div class="member-info flex-grow-1">
                <h4>江南大学</h4>
                <span>江苏 无锡</span>
                <p>针对数据库内容进行人工修订，提供学术支持</p>
                <div class="social">
                  <a href="https://bootstrapmade.com/content/demo/Devin/"><i class="bi bi-facebook"></i></a>
                  <a href="https://bootstrapmade.com/content/demo/Devin/"><i class="bi bi-twitter-x"></i></a>
                  <a href="https://bootstrapmade.com/content/demo/Devin/"><i class="bi bi-linkedin"></i></a>
                  <a href="https://bootstrapmade.com/content/demo/Devin/"><i class="bi bi-youtube"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-6">
            <div class="team-member d-flex">
              <div class="member-img">
                <img src="./index_files/person-m-6.webp" class="img-fluid" alt="" loading="lazy">
              </div>
              <div class="member-info flex-grow-1">
                <h4>SMRUCC genomics Institution</h4>
                <span>中国 桂林</span>
                <p>主要负责数据库系统开发，实验室数据采集，以及数据分析</p>
                <div class="social">
                  <a href="https://bootstrapmade.com/content/demo/Devin/"><i class="bi bi-facebook"></i></a>
                  <a href="https://bootstrapmade.com/content/demo/Devin/"><i class="bi bi-twitter-x"></i></a>
                  <a href="https://bootstrapmade.com/content/demo/Devin/"><i class="bi bi-linkedin"></i></a>
                  <a href="https://bootstrapmade.com/content/demo/Devin/"><i class="bi bi-youtube"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>

    </section><!-- /Team Section -->

  </main>

  ${./includes/footer.html}
</body>

</html>