<!DOCTYPE html>

<html lang="en">

<head>
  ${./includes/head.html}
</head>

<body class="index-page scrolled">
  ${./includes/nav.html}

  <br />
  <br />
  <br />
  <br />

  <main class="main">

    <section id="data" class="section">

      <!-- Section Title -->
      <div class="container section-title">
        <h2>{$fullname}</h2>
        <p>{$note}</p>
      </div><!-- End Section Title -->

      <div class="container">

        <h3>Metabolites</h3>

        <p>
          <foreach @metabolite>
            <a href='/metabolite/@metabolite["id"]' title='@metabolite["formula"] [@metabolite["exact_mass"]]'>@metabolite["name"]</a>; 
          </foreach>

          <br />
          <a href="/metabolites/?loc={$name}">View full list</a>
        </p>

      </div>

    </section>


  </main>

  ${./includes/footer.html}
</body>

</html>