<!DOCTYPE html>

<html lang="en">

<head>
  <meta name="drawer-h" content="300">

  ${./includes/head.html}
</head>

<body class="index-page scrolled">
  ${./includes/nav.html}

  <br />
  <br />
  <br />
  <br />

  <main class="main">

    <section id="data" class="section">

      <!-- Section Title -->
      <div class="container section-title">
        <h2>{$fullname}</h2>
        <p>{$note}</p>
      </div><!-- End Section Title -->

      <div class="container">

        <h3>Metabolites</h3>

        <div class="d-flex flex-wrap gap-3">
          <foreach @metabolite>
            <div class="card" style="width: 18rem;">

              <a href='/spectrum/?metab=@metabolite["id"]'>
                <canvas class="smiles_drawer card-img-top" role="img" focusable="false"
                  style="width:100%; max-height: 300px;" data='@metabolite["smiles"]'>
                </canvas>
              </a>

              <div class="card-body">
                <h5 class="card-title"><a href='/metabolite/@metabolite["id"]'>@metabolite["name"]</a></h5>
                <p class="card-text">Formula: <a
                    href='/metabolites/?formula=@metabolite["formula"]'>@metabolite["formula"]</a><br />
                  Exact Mass: <a
                    href='/metabolites/?exact_mass=@metabolite["exact_mass"]'>@metabolite["exact_mass"]</a><br />
                  CAS: @metabolite["cas_id"]</p>
              </div>
            </div>
          </foreach>
        </div>

        <p>
          <br />
          <strong>
            <a href="/metabolites/?location={$name}" class="explore-link">
              View full list <i class="bi bi-arrow-up-right"></i></a></strong>
        </p>

        <h3>Proteins</h3>

        <p>
          <foreach @protein>
            <a href='/protein/fasta/?id=@protein["id"]' title='@protein["source_id"]'>@protein["name"]</a>;
          </foreach>

          <br />
          <strong>
            <a href="/proteins/?cc={$name}" class="explore-link">
              View full list <i class="bi bi-arrow-up-right"></i></a></strong>
        </p>

      </div>

    </section>


  </main>

  ${./includes/footer.html}
</body>

<script src="/resources/vendor/smiles-drawer.min.js"></script>
<script src="/resources/js/smiles_batch_render.js"></script>

</html>