<!DOCTYPE html>

<html lang="en">

<head>
  ${./includes/head.html}
</head>

<body class="index-page scrolled">
  ${./includes/nav.html}

  <br />
  <br />
  <br />
  <br />

  <main class="main">

    <section id="data" class="section">

      <!-- Section Title -->
      <div class="container section-title">
        <h2>Enzyme Search Result</h2>
        <p>Search Enzymes</p>
      </div><!-- End Section Title -->

      <div class="container">

        <table class="table">
          <thead>
            <tr>EC Number</tr>
            <tr>name</tr>
            <tr>full name</tr>
            <tr>note</tr>
          </thead>
          <tbody>
            <foreach @enzyme>
              <tr>
                <td>
                  <a href='/enzyme/?id=@enzyme["id"]'>@enzyme["ec_number"]</a>
                </td>
                <td>@enzyme["recommended_name"]</td>
                <td>@enzyme["systematic_name"]</td>
                <td>@enzyme["note"]</td>
              </tr>
            </foreach>
          </tbody>
        </table>

      </div>

    </section>


  </main>

  ${./includes/footer.html}
</body>

</html>