<!DOCTYPE html>

<html lang="en">

<head>
  ${./includes/head.html}
</head>

<body class="index-page scrolled">
  ${./includes/nav.html}

  <br />
  <br />
  <br />
  <br />

  <main class="main">

    <section id="data" class="section">

      <!-- Section Title -->
      <div class="container section-title">
        <h2>{$name} (<i>{$id}</i>)</h2>
        <p>{$tags}</p>
      </div><!-- End Section Title -->

      <div class="container">
        <div class="shadow p-3 mb-5 bg-body rounded">
          <h3>Metabolite Information</h3>

          <div class="row">
            <div class="col">
              <p>
                Formula: {$formula} ({$exact_mass})<br />
                SMILES: <code>{$smiles}</code>
              </p>
            </div>
            <div class="col">
              
            </div>
          </div>

          {$synonyms}

          <h4>Note</h4>
          <p>{$note}</p>
        </div>

        <h3>DBLinks</h3>

        <ul>
          <li>CAS Registry Number: {$cas_id}</li>
          <li>PubChem CID: {$pubchem_cid}</li>
          <li>ChEBI: {$chebi_id}</li>
          <li>HMDB: {$hmdb_id}</li>
          <li>LipidMaps: {$lipidmaps_id}</li>
          <li>KEGG: {$kegg_id}</li>
          <li>BioCyc: {$biocyc}</li>
          <li>NCBI MeSH: {$mesh_id}</li>
          <li>Wikipedia: {$wikipedia}</li>
        </ul>

      </div>

    </section>


  </main>

  ${./includes/footer.html}
</body>

</html>