<!DOCTYPE html>

<html lang="en">

<head>
  ${./includes/head.html}
</head>

<body class="index-page scrolled">
  ${./includes/nav.html}

  <br />
  <br />
  <br />
  <br />

  <main class="main">

    <section id="data" class="section">

      <!-- Section Title -->
      <div class="container section-title">
        <h2>Metabolite List</h2>
        <p>View list of the metabolites in page data</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row">
          <div class="col">

            <foreach @page>

              <div class="row">
                <div class="col">

                  <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded"
                    style="width: 100%; background-color: white !important;">
                    <div class="card-body">
                      <h5 class="card-title"><a href='/metabolite/@page["id"]'>@page["name"]</a> (<i>@page["id"]</i>)
                      </h5>
                      <h6 class="card-subtitle mb-2 text-body-secondary">Formula: @page["formula"] (Exact Mass:
                        <a href='/metabolites/?exact_mass=@page["exact_mass"]'>@page["exact_mass"]</a>)</h6>

                      <div class="row">
                        <div class="col">
                          <p class="card-text">@page["note"]</p>
                        </div>
                        <div class="col">
                          <canvas class="smiles_drawer" width="400px" height="350px" role="img" focusable="false"
                            data='@page["smiles"]'>
                          </canvas>
                        </div>
                      </div>

                      @page["topic"]
                    </div>
                  </div>

                </div>
              </div>

            </foreach>

          </div>
        </div>

        <div class="row">
          <div class="col">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="{$a_1}">Previous</a></li>
                <li class="page-item"><a class="page-link" href="{$a_1}">{$n1}</a></li>
                <li class="page-item"><a class="page-link" href="{$a_2}">{$n2}</a></li>
                <li class="page-item"><a class="page-link" href="{$a_3}">{$n3}</a></li>
                <li class="page-item"><a class="page-link" href="{$a_3}">Next</a></li>
              </ul>
            </nav>
          </div>
        </div>

      </div>

    </section>

  </main>

  ${./includes/footer.html}
</body>

<script src="/resources/vendor/smiles-drawer.min.js"></script>
<script>
  let canvas = document.getElementsByClassName("smiles_drawer");
  let options = {
    width: 400,
    height: 350
  };
  // Initialize the drawer to draw to canvas
  let smilesDrawer = new SmilesDrawer.Drawer(options);
  // Alternatively, initialize the SVG drawer:
  // let svgDrawer = new SmilesDrawer.SvgDrawer(options);

  for (let element of canvas) {
    let smiles = element.getAttribute("data");

    if (smiles || smiles.length > 0) {
      // Clean the input (remove unrecognized characters, such as spaces and tabs) and parse it
      SmilesDrawer.parse(smiles, function (tree) {
        // Draw to the canvas
        smilesDrawer.draw(tree, element, "light", false);
        // Alternatively, draw to SVG:
        // svgDrawer.draw(tree, 'output-svg', 'dark', false);
      }, function (err) {
        console.log(err);
      });
    }
  }
</script>

</html>