<!DOCTYPE html>

<html lang="en">

<head>
  ${./includes/head.html}
</head>

<body class="index-page scrolled">
  ${./includes/nav.html}

  <br />
  <br />
  <br />
  <br />

  <main class="main">

    <section id="data" class="section">

      <!-- Section Title -->
      <div class="container section-title">
        <h2>Metabolite List</h2>
        <p>View list of the metabolites in page data</p>
      </div><!-- End Section Title -->

      <div class="container">



      </div>

    </section>


  </main>

  ${./includes/footer.html}
</body>

</html>