<!DOCTYPE html>

<html lang="en">

<head>
  ${./includes/head.html}
</head>

<body class="index-page scrolled">
  ${./includes/nav.html}

  <br />
  <br />
  <br />
  <br />

  <main class="main">

    <section id="data" class="section">

      <!-- Section Title -->
      <div class="container section-title">
        <h2>{$name}</h2>
        <p>{$note}</p>
      </div><!-- End Section Title -->

      <div class="container">

        <h3>{$family}</h3>
        
        <div class="row">
          <div class="col">
            <ul>
              <foreach @motif>
                <li><a href='/motif/?id=@motif["id"]'>@motif["name"]</a></li>
              </foreach>              
            </ul>
          </div>
        </div>


      </div>

    </section>


  </main>

  ${./includes/footer.html}
</body>

</html>