<!DOCTYPE html>

<html lang="en">

<head>
  ${./includes/head.html}
</head>

<body class="index-page scrolled">
  ${./includes/nav.html}

  <br />
  <br />
  <br />
  <br />

  <main class="main">

    <section id="data" class="section">

      <!-- Section Title -->
      <div class="container section-title">
        <h2>{$name}</h2>
        <p>{$note}</p>
      </div><!-- End Section Title -->

      <div class="container">

        <h3>Motif Clusters</h3>

        <div class="row">
          <div class="col">
            <table class="table">
              <thead>
                <tr>
                  <th style="width:40%">Motif Name</th>
                  <th style="width:60%">Sequence Logo</th>
                </tr>
              </thead>
              <foreach @motif>
                <tr>
                  <td><a href='/motif/?id=@motif["id"]'>@motif["name"]</a><br />@motif["note"]</td>
                  <td>@motif["logo"]</td>
                </tr>
              </foreach>
              </ul>
            </table>
          </div>
        </div>

        ${./includes/paging.html}
      </div>

    </section>


  </main>

  ${./includes/footer.html}
</body>

</html>