<!DOCTYPE html>

<html lang="en">

<head>
  <meta name="drawer-h" content="300">

  ${./includes/head.html}
</head>

<body class="index-page scrolled">
  ${./includes/nav.html}

  <br />
  <br />
  <br />
  <br />

  <main class="main">

    <section id="data" class="section">

      <!-- Section Title -->
      <div class="container section-title">
        <h2>{$name}</h2>
        <p>{$note}</p>
      </div><!-- End Section Title -->

      <div class="container">

        <h3>Metabolites</h3>

        <div class="d-flex flex-wrap gap-3">
          <foreach @metab>
            <div class="card" style="width: 18rem;">

              <a href='/spectrum/?metab=@metab["metabolite_id"]'>
                <canvas class="smiles_drawer card-img-top" role="img" focusable="false"
                  style="width:100%; max-height: 300px;" data='@metab["smiles"]'>
                </canvas>
              </a>

              <div class="card-body">
                <h5 class="card-title"><a href='/metabolite/@metab["metabolite_id"]'>@metab["name"]</a></h5>
                <p class="card-text">Formula: <a href='/metabolites/?formula=@metab["formula"]'>@metab["formula"]</a>
                  (<a href='/metabolites/?exact_mass=@metab["exact_mass"]'>@metab["exact_mass"]</a>)</p>
                <p class="card-text">CAS ID: <i>@metab["cas_id"]</i></p>
              </div>
            </div>
          </foreach>
        </div>

        <br />
        <br />

        <h3>Enzyme</h3>

        <table class="table">
          <thead>
            <tr>
              <th>EC Number</th>
              <th>name</th>
              <th>full name</th>
              <th>note</th>
            </tr>
          </thead>
          <tbody>
            <foreach @enzyme>
              <tr>
                <td>
                  <a href='/enzyme/?id=@enzyme["id"]'>@enzyme["ec_number"]</a>
                </td>
                <td>@enzyme["recommended_name"]</td>
                <td>@enzyme["systematic_name"]</td>
                <td>@enzyme["note"]</td>
              </tr>
            </foreach>
          </tbody>
        </table>

      </div>

    </section>


  </main>

  ${./includes/footer.html}
</body>

<script src="/resources/vendor/smiles-drawer.min.js"></script>
<script src="/resources/js/smiles_batch_render.js"></script>

</html>