<!DOCTYPE html>

<html lang="en">

<head>
  ${./includes/head.html}
</head>

<body class="index-page scrolled">
  ${./includes/nav.html}

  <br />
  <br />
  <br />
  <br />

  <main class="main">

    <section id="data" class="section">

      <!-- Section Title -->
      <div class="container section-title">
        <h2>{$name}</h2>
        <p>{$note}</p>
      </div><!-- End Section Title -->

      <div class="container">

        <p>
          <strong>Protein Function</strong>: {$function}
        </p>

        <h5>DBLinks</h5>

        <ul>
          <foreach @dblink>
            <li><strong>@dblink["db_name"]</strong>: @dblink["db_xref"]</li>
          </foreach>
        </ul>

        <div class="row">
          <div class="col">
            <h5>Proteins</h5>

            <table class="table">
              <thead>
                <tr>
                  <th>protein id</th>
                  <th>name</th>
                  <th>function</th>
                  <th>taxonomy source</th>
                </tr>
              </thead>
              <tbody>
                <foreach @fasta>
                  <tr>
                    <td><a href='/protein/fasta/?id=@fasta["id"]'>@fasta["source_id"]</a></td>
                    <td>@fasta["name"]</td>
                    <td>@fasta["function"]</td>
                    <td><a href='/taxonomy/?id=@fasta["ncbi_taxid"]'>@fasta["taxname"]</a></td>
                  </tr>
                </foreach>
              </tbody>
            </table>

            ${./includes/paging.html}
          </div>
        </div>

        <h5>Reactions</h5>

        <table class="table">
          <thead>
            <tr>
              <th>reaction id</th>
              <th>name</th>
              <th>note</th>
            </tr>
          </thead>
          <tbody>
            <foreach @reaction>
              <tr>
                <td><a href='/reaction/?id=@reaction["id"]'>@reaction["db_source"]:@reaction["db_xref"]</a></td>
                <td>@reaction["name"]</td>
                <td>@reaction["note"]</td>
              </tr>
            </foreach>
          </tbody>
        </table>

      </div>

    </section>


  </main>

  ${./includes/footer.html}
</body>

</html>