<!DOCTYPE html>

<html lang="en">

<head>
  ${./includes/head.html}
</head>

<body class="index-page scrolled">
  ${./includes/nav.html}

  <br />
  <br />
  <br />
  <br />

  <main class="main">

    <section id="data" class="section">

      <!-- Section Title -->
      <div class="container section-title">
        <h2>{$name}</h2>
        <p>{$note}</p>
      </div><!-- End Section Title -->

      <div class="container">

        <p>
          <strong>Protein Function</strong>: {$function}
        </p>

        <h5>DBLinks</h5>

        <ul>
          <foreach @dblink>
            <li><strong>@dblink["db_name"]</strong>: @dblink["db_xref"]</li>
          </foreach>
        </ul>

      </div>

    </section>


  </main>

  ${./includes/footer.html}
</body>

</html>