<!DOCTYPE html>

<html lang="en">

<head>
    ${./includes/head.html}
</head>

<body class="index-page scrolled">
    ${./includes/nav.html}

    <br />
    <br />
    <br />
    <br />

    <main class="main">

        <section id="data" class="section">

            <!-- Section Title -->
            <div class="container section-title">
                <h2>{$term}</h2>
                <p>{$note}</p>
            </div><!-- End Section Title -->

            <div class="container">

                ${./includes/paging.html}

                <table class="table">
                    <thead>
                        <tr>
                            <th>protein</th>
                            <th>name</th>
                            <th>left</th>
                            <th>right</th>
                            <th>site</th>
                        </tr>
                    </thead>
                    <tbody>
                        <foreach @site>
                            <tr>
                                <td><a href='/protein/fasta/?id=@site["protein_id"]'>@site["name"]</a></td>
                                <td>@site["function"]</td>
                                <td>@site["left"]</td>
                                <td>@site["right"]</td>
                                <td><code>@site["site"]</code></td>
                            </tr>
                        </foreach>
                    </tbody>
                </table>

                ${./includes/paging.html}

            </div>

        </section>


    </main>

    ${./includes/footer.html}
</body>

</html>