<!DOCTYPE html>

<html lang="en">

<head>
  ${./includes/head.html}
</head>

<body class="index-page scrolled">
  ${./includes/nav.html}

  <br />
  <br />
  <br />
  <br />

  <main class="main">

    <section id="data" class="section">

      <!-- Section Title -->
      <div class="container section-title">
        <h2>{$title}</h2>
        <p>{$note}</p>
      </div><!-- End Section Title -->

      <div class="container">

                    
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>EC Number</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            <foreach @network>
              <tr>
                <td><a href='/reaction/?id=@network["id"]'>@network["db_name"]:@network["db_xref"]</a></td>
                <td>@network["ec_number"]</td>
                <td>@network["name"]</td>
              </tr>
            </foreach>
          </tbody>
        </table>

        ${./includes/paging.html}

      </div>

    </section>


  </main>

  ${./includes/footer.html}
</body>

</html>