<!DOCTYPE html>

<html lang="en">

<head>
  <meta name="app" content="spectrum_data">

  ${./includes/head.html}
</head>

<body class="index-page scrolled">
  ${./includes/nav.html}

  <br />
  <br />
  <br />
  <br />

  <main class="main">

    <section id="data" class="section">

      <!-- Section Title -->
      <div class="container section-title">
        <h2>{$name}</h2>
        <p>{$note}</p>
      </div><!-- End Section Title -->

      <div class="container">

        <h3>Experiment Results</h3>

        <div class="row">
          <div class="col" id="exp_table">

          </div>
        </div>

      </div>

    </section>


  </main>

  ${./includes/footer.html}
</body>

</html>