<!DOCTYPE html>

<html lang="en">

<head>
  <meta name="app" content="spectrum_data">

  ${./includes/head.html}

  <script type="text/javascript" src="/resources/vendor/echarts-6.0.0/echarts.min.js"></script>
</head>

<body class="index-page scrolled">
  ${./includes/nav.html}

  <br />
  <br />
  <br />
  <br />

  <main class="main">

    <section id="data" class="section">

      <!-- Section Title -->
      <div class="container section-title">
        <h2>{$name}</h2>
        <p>{$note}</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row">
          <div class="col">
            <a href="/metabolite/{$db_xref}">Back to Metabolite Page</a>
          </div>
        </div>

        <h3>Experiment Results</h3>

        <div class="row">
          <div class="col" id="org_pie" style="height: 300px;">

          </div>
          <div class="col" id="tissue_pie" style="height: 300px;">

          </div>
        </div>

        <br />
        <hr />

        <div class="row">
          <div class="col" id="exp_table">

          </div>
        </div>

      </div>

    </section>


  </main>

  ${./includes/footer.html}
</body>

</html>