<!DOCTYPE html>

<html lang="en">

<head>
  ${./includes/head.html}
</head>

<body class="index-page scrolled">
  ${./includes/nav.html}

  <br />
  <br />
  <br />
  <br />

  <main class="main">

    <section id="data" class="section">

      <!-- Section Title -->
      <div class="container section-title">
        <h2>{$name}</h2>
        <p>{$note}</p>
      </div><!-- End Section Title -->

      <div class="container">

        <p>taxonomy name: {$name} ({$rank_name})<br />
        ancestor: <a href="/taxonomy/?id={$ancestor}">{$parent_name} ({$parent_rank})</a>
        </p>

        <table class="table">
          <thead>
            <tr>
              <th>taxonomy name</th>
              <th>rank</th>
              <th>note</th>
            </tr>
          </thead>
          <tbody>
            <foreach @childs>
              <tr>
                <td><a href='/taxonomy/?id=@childs["id"]'>@childs["name"]</a></td>
                <td>@childs["rank_name"]</td>
                <td>@childs["note"]</td>
              </tr>
            </foreach>
          </tbody>
        </table>
      </div>

    </section>


  </main>

  ${./includes/footer.html}
</body>

</html>