<!DOCTYPE html>

<html lang="en">

<head>
    ${./includes/head.html}
</head>

<body class="index-page scrolled">
    ${./includes/nav.html}

    <br />
    <br />
    <br />
    <br />

    <main class="main">

        <section id="data" class="section">

            <!-- Section Title -->
            <div class="container section-title">
                <h2>Taxonomy Database</h2>
                <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
            </div><!-- End Section Title -->

            <!-- Features Section -->
            <section id="features" class="features section">

                <div class="container">

                    <div class="features-grid">

                        <foreach @childs>

                            <div class="features-card">
                                <div class="icon-wrapper">
                                    <a href='/taxonomy/?id=@childs["id"]'>
                                        <i class="bi bi-layout-wtf"></i>
                                    </a>
                                </div>
                                <h3>
                                    <a href='/taxonomy/?id=@childs["id"]'>
                                        @childs["name"]
                                    </a>
                                </h3>
                                <p>
                                    @childs["note"]
                                </p>
                                <!-- <div class="features-list">
                                    <div class="feature-item">
                                        <i class="bi bi-check-circle-fill"></i>
                                        <span>Integrated development environment</span>
                                    </div>
                                    <div class="feature-item">
                                        <i class="bi bi-check-circle-fill"></i>
                                        <span>Cloud-based collaborative tools</span>
                                    </div>
                                    <div class="feature-item">
                                        <i class="bi bi-check-circle-fill"></i>
                                        <span>Automated testing procedures</span>
                                    </div>
                                </div> -->
                                <div class="image-container">
                                    <a href='/taxonomy/?id=@childs["id"]'>
                                        <i class="bi bi-arrow-return-right"></i>
                                    </a>
                                </div>
                            </div>

                        </foreach>

                    </div>

                </div>

            </section><!-- /Features Section -->

        </section>


    </main>

    ${./includes/footer.html}
</body>

</html>