<!DOCTYPE html>

<html lang="en">

<head>
  <meta name="app" content="taxonomy_data">
  <meta name="drawer-h" content="125">

  ${./includes/head.html}
</head>

<body class="index-page scrolled">
  ${./includes/nav.html}

  <br />
  <br />
  <br />
  <br />

  <main class="main">

    <section id="data" class="section">

      <!-- Section Title -->
      <div class="container section-title">
        <h2>{$name}</h2>
        <p>{$note}</p>
      </div><!-- End Section Title -->

      <div class="container">

        <p>taxonomy name: {$name} ({$rank_name})<br />
          ancestor: <a href="/taxonomy/?id={$ancestor}">{$parent_name} ({$parent_rank})</a>
        </p>

        <h3>Child Taxonomy</h3>

        <table class="table">
          <thead>
            <tr>
              <th>taxonomy name</th>
              <th>rank</th>
              <th>note</th>
            </tr>
          </thead>
          <tbody>
            <foreach @childs>
              <tr>
                <td><a href='/taxonomy/?id=@childs["id"]'>@childs["name"]</a></td>
                <td>@childs["rank_name"]</td>
                <td><span class="d-inline-block text-truncate" style="max-width: 850px;">@childs["note"]</span></td>
              </tr>
            </foreach>
          </tbody>
        </table>


        <h3 id="enzymes">Enzyme Proteins</h3>

        <table class="table">
          <thead>
            <tr>
              <th>protein id</th>
              <th>name</th>
              <th>ec_number</th>
              <th>function</th>
            </tr>
          </thead>
          <tbody>
            <foreach @enzyme>
              <tr>
                <td><a href='/protein/fasta/?id=@enzyme["id"]'>@enzyme["source_id"] [@enzyme["db_name"]]</a></td>
                <td>@enzyme["name"]</td>
                <td><a href='/proteins/?ec=@enzyme["ec_number"]'>@enzyme["ec_number"]</a></td>
                <td>@enzyme["function"]</td>
              </tr>
            </foreach>
          </tbody>
        </table>

        ${./includes/paging.html}

        <h3 id="metabolites">Metabolites</h3>

        <h5>LCMS Annotations</h5>

        <div class="row">
          <div class="col" id="metab-source">

          </div>
        </div>

        <h5>Literature Annotations</h5>

        <div class="row">
          <div class="col">
            <table class="table">
              <thead>
                <tr>
                  <th>Metabolite</th>
                  <th>Database Reference</th>
                  <th>Structure</th>
                </tr>

              </thead>
              <tbody>
                <foreach @metabolite>
                  <tr>
                    <td><strong><a href='/metabolite/@metabolite["id"]'>@metabolite["name"]</a></strong><br /><br />
                      <strong>Formula:</strong> <i><a
                          href='/metabolites/?formula=@metabolite["formula"]'>@metabolite["formula"]</a></i><br />
                      <strong>Exact Mass:</strong> <i><a
                          href='/metabolites/?exact_mass=@metabolite["exact_mass"]'>@metabolite["exact_mass"]</a></i><br />
                      <strong>Source ID:</strong> <i>@metabolite["evidence"]</i>
                    </td>
                    <td>
                      <ul>
                        <li>CAS Registry: @metabolite["cas_id"]</li>
                        <li>KEGG: @metabolite["kegg_id"]</li>
                        <li>LipidMAPS: @metabolite["lipidmaps_id"]</li>
                        <li>BioCYC: @metabolite["biocyc"]</li>
                      </ul>
                    </td>
                    <td>
                      <canvas class="smiles_drawer" role="img" focusable="false" style="float:right;"
                        data='@metabolite["smiles"]'>
                    </td>
                  </tr>
                </foreach>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </section>


  </main>

  ${./includes/footer.html}
</body>

<script src="/resources/vendor/smiles-drawer.min.js"></script>
<script src="/resources/js/smiles_batch_render.js"></script>

</html>