<!DOCTYPE html>

<html lang="en">

<head>
  <meta name="app" content="taxonomy_data">

  ${./includes/head.html}
</head>

<body class="index-page scrolled">
  ${./includes/nav.html}

  <br />
  <br />
  <br />
  <br />

  <main class="main">

    <section id="data" class="section">

      <!-- Section Title -->
      <div class="container section-title">
        <h2>{$name}</h2>
        <p>{$note}</p>
      </div><!-- End Section Title -->

      <div class="container">

        <p>taxonomy name: {$name} ({$rank_name})<br />
          ancestor: <a href="/taxonomy/?id={$ancestor}">{$parent_name} ({$parent_rank})</a>
        </p>

        <h5>Child Taxonomy</h5>

        <table class="table">
          <thead>
            <tr>
              <th>taxonomy name</th>
              <th>rank</th>
              <th>note</th>
            </tr>
          </thead>
          <tbody>
            <foreach @childs>
              <tr>
                <td><a href='/taxonomy/?id=@childs["id"]'>@childs["name"]</a></td>
                <td>@childs["rank_name"]</td>
                <td><span class="d-inline-block text-truncate" style="max-width: 850px;">@childs["note"]</span></td>
              </tr>
            </foreach>
          </tbody>
        </table>


        <h5 id="enzymes">Enzyme Proteins</h5>

        <table class="table">
          <thead>
            <tr>
              <th>protein id</th>
              <th>name</th>
              <th>ec_number</th>
              <th>function</th>
            </tr>
          </thead>
          <tbody>
            <foreach @enzyme>
              <tr>
                <td><a href='/protein/fasta/?id=@enzyme["id"]'>@enzyme["source_id"] [@enzyme["db_name"]]</a></td>
                <td>@enzyme["name"]</td>
                <td><a href='/proteins/?ec=@enzyme["ec_number"]'>@enzyme["ec_number"]</a></td>
                <td>@enzyme["function"]</td>
              </tr>
            </foreach>
          </tbody>
        </table>

        <h5 id="metabolites">Metabolites</h5>

        <div class="row">
          <div class="col" id="metab-source">

          </div>
        </div>

        ${./includes/paging.html}
      </div>

    </section>


  </main>

  ${./includes/footer.html}
</body>

</html>