<!DOCTYPE html>

<html lang="en">

<head>
    ${../includes/head.html}

    <style type="text/css">
        .img-fluid {
            border-radius: 8px;
            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
            transition: transform 0.3s ease;
        }
    </style>
</head>

<body class="index-page scrolled">
    ${../includes/nav.html}

    <br />
    <br />
    <br />
    <br />

    <main class="main">

        <section id="data" class="section">

            <!-- Section Title -->
            <div class="container section-title">
                <h2>Natural Product Library</h2>
                <p>天然产物，简单来说，是自然界中生物体（如植物、动物、微生物乃至海洋生物）在生命过程中产生的化合物。它们是亿万年来自然进化的化学杰作，结构多样且常具有独特的生物活性。许多我们熟知的药物（如青霉素、青蒿素）、香料和色素都直接来源于天然产物，是发现新药和功能分子的巨大宝库。
                </p>
            </div><!-- End Section Title -->

            <br />
            <br />

            <div class="container">

                <div class="row">

                    <!-- Testimonial Slide 1 -->
                    <!-- End Testimonial Slide -->

                    <!-- Testimonial Slide 2 -->
                    <!-- End Testimonial Slide -->

                    <!-- Testimonial Slide 3 -->
                    <!-- End Testimonial Slide -->

                    <!-- Testimonial Slide 4 -->
                    <div class="col" role="group" aria-label="4 / 5" data-swiper-slide-index="3">
                        <div class="testimonial-item">
                            <div class="about-image">
                                <img src="/resources/images/image_528865752274773.png" alt="Client" class="img-fluid"
                                    loading="lazy">
                                <div class="rating">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                </div>
                            </div>
                            <div class="testimonial-body">
                                <p>微生物发酵天然产物，是指通过培养酵母、细菌等微生物作为“细胞工厂”，利用其新陈代谢过程来大规模生产具有药物、香料等功能的天然化合物。</p>
                            </div>
                            <div class="testimonial-footer">
                                <h5>微生物发酵天然产物</h5>
                                <span>Business Analyst</span>
                                <div class="quote-icon">
                                    <i class="bi bi-chat-quote-fill"></i>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Testimonial Slide -->

                    <!-- Testimonial Slide 5 -->
                    <div class="col" role="group" aria-label="5 / 5" data-swiper-slide-index="4">
                        <div class="testimonial-item">
                            <div class="about-image">

                                <a href="/mzvault/plant_np/">

                                    <img src="/resources/images/image_003473311713133.png" alt="Client"
                                        class="img-fluid" loading="lazy">

                                </a>

                                <div class="rating">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                </div>
                            </div>
                            <div class="testimonial-body">
                                <p>植物天然产物是指由植物自身合成、结构多样且通常具有特定生物活性（如药用、保健或防御功能）的化合物，是许多药物和日用化学品的重要来源。</p>
                            </div>
                            <div class="testimonial-footer">
                                <h5>植物天然产物</h5>
                                <span>Project Manager</span>
                                <div class="quote-icon">
                                    <i class="bi bi-chat-quote-fill"></i>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Testimonial Slide -->

                    <div class="col" role="group" aria-label="1 / 5" data-swiper-slide-index="0">
                        <div class="testimonial-item">
                            <div class="about-image">
                                <img src="/resources/images/image_588178309076822.png" alt="Client" class="img-fluid"
                                    loading="lazy">
                                <div class="rating">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                </div>
                            </div>
                            <div class="testimonial-body">
                                <p>海洋天然产物是指从海洋生物（如海绵、珊瑚、微生物等）中提取的、结构新颖且常具有独特药理活性的化合物，是新药发现的重要源泉。</p>
                            </div>
                            <div class="testimonial-footer">
                                <h5>海洋天然产物</h5>
                                <span>UX Designer</span>
                                <div class="quote-icon">
                                    <i class="bi bi-chat-quote-fill"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-navigation">
                    <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide"
                        aria-controls="swiper-wrapper-b107cfa811004907a8"></div>
                    <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide"
                        aria-controls="swiper-wrapper-b107cfa811004907a8"></div>
                </div>

                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>

            </div>

        </section>


    </main>

    ${../includes/footer.html}
</body>

</html>