<!DOCTYPE html>

<html lang="en">

<head>
    ${../includes/head.html}
</head>

<body class="index-page scrolled">
    ${../includes/nav.html}

    <br />
    <br />
    <br />
    <br />

    <main class="main">

        <section id="data" class="section">

            <!-- Section Title -->
            <div class="container section-title">
                <h2>Natural Product Library</h2>
                <p>天然产物，简单来说，是自然界中生物体（如植物、动物、微生物乃至海洋生物）在生命过程中产生的化合物。它们是亿万年来自然进化的化学杰作，结构多样且常具有独特的生物活性。许多我们熟知的药物（如青霉素、青蒿素）、香料和色素都直接来源于天然产物，是发现新药和功能分子的巨大宝库。
                </p>
            </div><!-- End Section Title -->

            <div class="container">



            </div>

        </section>


    </main>

    ${../includes/footer.html}
</body>

</html>