<!DOCTYPE html>

<html lang="en">

<head>
  ${../includes/head.html}
</head>

<body class="index-page scrolled">
  ${../includes/nav.html}

  <br />
  <br />
  <br />
  <br />

  <main class="main">

    <section id="data" class="section">

      <!-- Section Title -->
      <div class="container section-title">
        <h1>404 Page Not Found!</h1>
        <p><span style="color:gray;">{$url}</span></p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row">
          <div class="col">
            <p>We could not find the above page on our servers</p>
            <p>
              {$message}
            </p>
          </div>
        </div>

      </div>

    </section>


  </main>

  ${../includes/footer.html}
</body>

</html>